*.swp
local/
src/rtl_scratchpad.ipynb

# Vivado files
*.cache
*.hw
*.ip_user_files
*.runs
*.sim
*.xpr
*.wcfg
*.wdb
*.vcd
*.log
*.jou
xsim.dir/
xsim*
xelab*
xvhdl*
xvlog*
xsc*
vivado*
xcrg_*_cov_report

# RTL tools
slpp_all/

# PD
*.v.gates
*.sdf
pd/yosys/out
pd/yosys/reports
pd/yosys/tmp
pd/openroad/out
pd/openroad/reports
pd/openroad/save
pd/ihp13/pdk/ihp-sg13g2/libs*

# libraries/obj
*.so
*.o
cosim/build*

# manuals/helps/profiling
*.help
*.man
*_profiler.*
*_trace.*
*_exec.*

# make touchfiles
*touchfile

# VSCode files
.vscode/
.vscode-ctags

# run artefacts
run_cfg*.tcl
rv_test_*
testrun_*

# isa sim outputs
out_*/
