*.swp
local/

# Vivado files
*.cache
*.hw
*.ip_user_files
*.runs
*.sim
*.xpr
*.wcfg
*.wdb
*.log
*.jou
xsim.dir/
xsim*
xelab*
xvhdl*
xvlog*
xsc*
vivado*
xcrg_*_cov_report

# libraries/obj
*.so
*.o

# manuals/helps/profiling
*.help
*.man
*_profiler.*
*_trace.*
*_exec.*

# make touchfiles
*touchfile

# VSCode files
.vscode/
.vscode-ctags

# run artefacts
run_cfg*.tcl
rv_test*

# isa sim outputs
out_*/
